@import 'globals/google-font';

$open-sans: 'Open Sans', Arial, sans-serif;
$roboto: 'Roboto', Arial, sans-serif;

$black-90: #172b4d;
$black-60: #505f79;
$black-50: #5e6c84;
$blue-50: #3d68ff;
$blue-hover: darken($blue-50, 12%);
$background-light: #f4f5f7;
$hover-grey: rgba(7, 20, 46, 0.1);

$box-shadow-xs: 0px 4px 8px rgba(7, 20, 46, 0.08);
