body {
  margin: 0;
}

h1 {
  @extend %pix-title-l;
  margin: var(--pix-spacing-6x) 0;
}

h2 {
  @extend %pix-title-m;
  margin: var(--pix-spacing-8x) 0;
}

h3 {
  @extend %pix-title-s;
}

h4 {
  @extend %pix-title-xs;
}

p, li {
  @extend %pix-body-m;
}

p {
  margin: var(--pix-spacing-4x) 0;
}

ul,
ol {
  margin: var(--pix-spacing-1x) 0;
  padding: revert;
  list-style: revert;
}

a {
  color: revert;
  text-decoration: revert;
}

.plyr {
  --plyr-color-main: var(--pix-primary-500);

  /* Allow to interact with the `video` element */
  &__poster {
    display: none;
  }
}

// We cannot extend placeholders when using a media query.
// We chose to copy typography styles manually.
@media print {
  h1 {
    font-size: 1.375rem;
    line-height: 1.3;
    letter-spacing: -0.02em;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: -0.02em;
  }

  p, li {
    font-size: 0.75rem;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: justify;
  }
}
