#app {
  font-family: 'Open Sans', sans-serif;
  background-color: $background-light;
}

.main-header {
  background-color: white;
  box-shadow: $box-shadow-xs;
  padding: 1rem 5rem;

  @include device-is('tablet') {
    padding: 1rem 1.5rem;
  }
}

.main-header__logo {
  height: 60px;
  margin-right: 1.5rem;
}

.main-container {
  padding: 4rem 1rem;
  max-width: 1280px;
  margin: 0 auto;
}
