#app {
  font-family: 'Open Sans', sans-serif;
  background-color: $background-light;
}

.main-header {
  background-color: white;
  box-shadow: $box-shadow-xs;
  padding: 1rem 5rem;
}

.main-header__logo {
  height: 60px;
  margin-right: 1.5rem;
}

.main-container {
  padding: 4rem 1rem 0;
  width: 80rem;
  margin: 0 auto;
}
