@import "~@fontsource/roboto/scss/mixins";

@include fontFace(
  $weight: 400,
  $display: fallback,
  $fontDir: "~@fontsource/roboto/files"
);
@include fontFace(
  $weight: 500,
  $display: fallback,
  $fontDir: "~@fontsource/roboto/files"
);