name: Calculate bundle size

on: [pull_request]

jobs:
  calculate-bundle-size:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: package.json
          registry-url: https://registry.npmjs.org/
      - uses: preactjs/compressed-size-action@v2
        with:
          pattern: '.output/public/**/*.html'
          exclude: '{.output/public/_nuxt/**/*,.output/public/api/_content/**/*}'
          minimum-change-threshold: 10000
